* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E0E0D1;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #E0E0D1;
  width: 100%;
}

header {
  text-align: center;
  width: 100%;
  height: 70%;
  background-color: #E0E0D1;
  padding-bottom: 40px;
  margin-bottom: 64px;
}

.logo {
  align-items: center;
  width: 60%;
  padding-top: 64px;
  padding-bottom: 32px;
}

h2 {
  font-family: contralto-big,sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #2B2A28;
  padding: 12px;
}

h3 {
  font-family: contralto-big,sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 20pt;
  color: #2B2A28;
  padding-top: 48px;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #2B2A28;
  overflow: auto;
}

.navbar a {
  font-family: contralto-big,sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  color: #E0E0D1;
  padding: 8px 32px 8px 32px;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #A5967C;
  color: #2B2A28;
  padding: 8px 32px 8px 32px;
}

.active {
  color: #BFB29F;
}

section {
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  width: 100%;
  background-color: #E0E0D1;
  padding-top: 32px;
  padding-bottom: 32px;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 64px;
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #E0E0D1;
  width: 100%;
}

article {
  width: 33%;
  height: 200px;
  color: #E0E0D1;
  padding-left: 6px;
  border-radius: 6px;
}

.tables{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/tableTemp.png);
}

.wallart {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/wallArt.png);
}

.accessories {
  background-position: 0px -75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/accessories.png);
}

.services {
  padding: 64px;
}

.break {
  display: -webkit-flex;
  display: flex;
  background-color: #E0E0D1;
  width: 100%;
}

.pgbreak {
  justify-content: space-around;
  width: 99%;
}

.pgbreak2 {
  justify-content: space-around;
  width: 99%;
  padding-top: 64px;
  padding-bottom: 64px;
}

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  background-color: #E0E0D1;
}

.foot {
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2B2A28;
  background-color: #E0E0D1;
}

.links {
  padding-bottom: 64px;
  padding-right: 32px;

}

.list {
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2B2A28;
  text-align: center;
  list-style-type: none;
  padding:0 0 16px 6px;
}

.list a{
  text-decoration: none;
  color: #2B2A28;
}

.LLC {
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2B2A28;
  padding: 64px 0 64px 0;
}




@media screen and (max-width: 703px) {

.logo {
  width: 86%;
}

h3 {
  font-size: 18pt;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 32px;
}

.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.navbar a {
  text-align: left;
  padding: 32px 32px 32px 32px;
  border-bottom: 1px solid  #E0E0D1;
}

.navbar a:hover {
  padding: 32px 32px 32px 32px;
  box-shadow: 0px 12px 14px 0px rgba(224, 224, 209, 0.27);
}

.navbar a:last-child:hover {
  padding: 32px 32px 32px 32px;
  box-shadow: 0px 0px 14px 12px rgba(224, 224, 209, 0.27);
}

.logo {
  padding: 64px 32px 32px 32px;
}

.pgbreak {
}

.pgbreak2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

p {
  font-size: 14pt;
}

.about {
  text-align: left;
  padding: 46px;
}

.services {
  text-align: left;
  padding: 46px;
}

.gallery {
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.tables {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 76%;
}

.wallart {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 76%;
}

.accessories {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 76%;
}

footer {
  padding-top: 32px;
}

.links {
  padding-top: 32px;
  padding-right: 32px;
}

.LLC {
  padding: 32px 0 64px 0;
}

}
